spring:
  application:
    name: auth-service

#  datasource:
#    url: jdbc:h2:mem:testdb
#    driverClassName: org.h2.Driver
#    username: sa
#    password: ""
#
#  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect
#    show-sql: true
#    defer-datasource-initialization: true

server:
  port: 8400

jwt:
  secret: Ny0pm2CWIAST07ElsTAVZgCqJKJd2bE9lpKyewuOhyyKoBApt1Ny0pm2CWIAST07ElsTAVZgCqJKJd2bE9lpKyewuOhyyKoBApt1
  expiration_time: 3600
  token_prefix: Bearer
  header_string: Authorization
  login_url: /api/account/login

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://admin:1234@localhost:8300/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
